* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #bde0ff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    touch-action: manipulation;
}

.game__wrapper {
    border: 5px outset;
    background-color: #bdbdbd;
    padding: 15px;
}

.header {
    border-bottom: 15px solid #bdbdbd;
    background-color: #c0c0c0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px inset;
    padding: 10px 15px;
}

.counter, .timer {
    display: flex;
}

.counter__item, .timer__item {
    background-image: url("./img/numbers/number_0.png");
    image-rendering: pixelated;
    background-size: cover;
    width: 34px;
    height: 60px;
    transition: background-image .1s ease;
}

.game__restart {
    background-image: url("./img/smiles/smile_default.png");
    image-rendering: pixelated;
    background-size: cover;
    width: 70px;
    height: 70px;
    border: none;
    transition: background-image .1s ease;
}


.field {
    display: grid;
    grid-template-columns: repeat(16, max-content);
    border: 5px inset;
    background-color: #7b7b7b;
}

.cell {
    width: 40px;
    height: 40px;
    background-image: url("./img/cells/cell_closed.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    transition: background-image .1s ease;
    -webkit-transition: background-image .1s ease;
}

@media screen and (max-width: 690px), screen and (max-height: 820px) {
    .cell {
        width: 30px;
        height: 30px;
    }

    .counter__item, .timer__item {
        width: 28px;
        height: 50px;
    }

    .game__restart {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 530px), screen and (max-height: 660px) {
    .cell {
        width: 25px;
        height: 25px;
    }

    .counter__item, .timer__item {
        width: 23px;
        height: 40px;
    }

    .game__restart {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 450px), screen and (max-height: 570px) {
    .cell {
        width: 20px;
        height: 20px;
    }
}